<h1>Sample App</h1>

<p>こんにちは <%= @user.name %> </p>

<p>
  Sample Appへようこそ!
  リンクをクリックしてアカウントを有効化してください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
